@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* Social buttons */
.social-btn {
    padding: 10px 18px;
    background-color: white;
    color: #041E42;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.social-btn:hover {
    background-color: #CAD4E6;
    transform: translateY(-3px);
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1.5s ease-out forwards;
}
